body{
    background-color: black;

}

.keys{
    margin-top: 40vh;
    display:flex ;
    justify-content: center;
    flex-wrap: wrap;
}
    


.key
{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: #53ff45;
    border-radius: 5px;
    align-items: center;
    transition: all 0.07s;
}

.playing{
    transform: scale(1.3);
    transform: scale(1.1);
    border-color: #53ff45;
    box-shadow: 0 0 1rem #53ff45;
}
kbd{
    font-size: 2rem;
}